<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-align="center">
     Home
    </ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()">
      <ion-icon name="log-out-outline">
      </ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div id="container">
      <h1>Bienvenido!</h1>
      <h2>En el menú podrá encontrar la opciones disponibles.</h2>
  
          <ion-img src="/assets/logoEpas.png" class="ion-align-self-end"></ion-img>



    </div>
 


</ion-content>